.rating {
    border: none;
    float: left;
    cursor: pointer;
    height: 53px;
    margin-left: 183px;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 2.05em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.book-title {
    text-align: center;
    font-size: 20px;
}

.modal-title {
    text-align: center;
    font-size: 20px;
}

.glyphicon-book, .bookstore-menu {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color:black;

}